body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
  margin: 0;
  padding: 0; /* Genel yapı için stil */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 15px;
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out; /* Video kapsayıcıyı için stil */
}
.video-container:hover {
  transform: scale(1.03); /* Hover'da hafif büyütme efekti */
}

.menu {
  background-color: bisque;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease;
}
.menu:hover {
  background-color: #ffe4c4; /* Hover'da daha açık bir ton */
}
.menu input[type='radio'] {
  margin: 0 10px;
  accent-color: #e74c3c; /* Radio butonlar için stil */
}
.menu label {
  font-size: 1.1rem;
  color: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}
/* Uygulamanın genel yerleşimi */
.app {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
h1,
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f39c12;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
iframe {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Video iframe ayarları */
}
button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /*button stili */
}
button:hover {
  background-color: #c0392b;
}

/* Küçük ekranlar için responsive tasarım */
@media (max-width: 768px) {
  .video-container {
    width: 90%;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  .menu {
    flex-direction: column;
    padding: 15px;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
